.container {
  width: auto;
  margin: auto;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.btn3 {
  position: relative;
  letter-spacing: 0.25em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 28px;
  color: #333333;
}
.btn3::after, .btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  transform: skewX(30deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
}
.btn3::before {
  background-color: #ffff00;
  top: -1rem;
  left: 0rem;
}
.btn3::after {
  background-color: #8a19ff;
  top: 1rem;
  left: 8rem;
}
.btn3:hover::before, .btn:hover::after {
  top: 0;
  transform: skewx(0deg);
}
.btn3:hover::after {
  left: 0rem;
}
.btn3:hover::before {
  left: 8.75rem;
}
