
/*Пример2*/
body {
  font-family: "Lato", sans-serif;
  color: #111;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #ececec;
}

.container {
  width: auto;
  display: flex;
  flex-direction: column;
}

.btn2 {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  font-size: 36px;
  position: relative;
}
.btn2::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}
.btn2 .btn-text {
  color: white;
  mix-blend-mode: difference;
}
.btn:hover::before {
  background: black;
  width: 100%;
}
.btn2.rounded {
  border-radius: 50px;
}
.btn2.rounded .text-green {
  color: #00f0b5;
  mix-blend-mode: difference;
}
.btn2.rounded::before {
  border-radius: 50px;
  width: 25%;
  background: #00f0b5;
}
.btn2.rounded:hover::before {
  background: #00f0b5;
  width: 100%;
}
/*Пример2*/





/*Пример3*/
.container {
  width: auto;
  margin: auto;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.btn3 {
  position: relative;
  letter-spacing: 0.25em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 28px;
  color: #333333;
}
.btn3::after, .btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  transform: skewX(30deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
}
.btn3::before {
  background-color: #ffff00;
  top: -1rem;
  left: 0rem;
}
.btn3::after {
  background-color: #8a19ff;
  top: 1rem;
  left: 8rem;
}
.btn3:hover::before, .btn:hover::after {
  top: 0;
  transform: skewx(0deg);
}
.btn3:hover::after {
  left: 0rem;
}
.btn3:hover::before {
  left: 8.75rem;
}
/*Пример3*/
